    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand text-warning" href="#">MFD</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Úvodní stránka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'films' %}">Filmy</a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="genres" data-toggle="dropdown">
                Žánry
              </a>
              <div class="dropdown-menu">
                 {% for genre in genres %}
                    <a class="dropdown-item" href="{% url 'film-genre' genre.name %}">{{ genre.name }}</a>
                 {% endfor %}
              </div>
            </li>
         </ul>
        <ul class="navbar-nav">
           {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="user-profile" data-toggle="dropdown">
                 {{ user.get_username }}
                 {% load static %}
                 {% if user.profile.avatar %}
                     <img src="{{ user.profile.avatar.url }}" alt="User avatar" height="40">
                 {% else %}
                     <img src="{% static 'img/avatar-icon.png' %}" alt="Icon avatar" height="40">
                 {% endif %}
              </a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'profile' %}">Profil uživatele</a>
                  <a class="dropdown-item" href="{% url 'password_reset' %}">Změnit heslo</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Odhlásit se</a>
              </div>
            </li>
           {% else %}
             <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}" class="nav-link">Přihlášení</a></li>
           {% endif %}
        </ul>
      </div>
    </nav>